.btn {
	--btn-font-size: 1.05rem;
	--btn-icon-size: 20px;
	--btn-padding-y: 0.75rem;
	--btn-padding-x: 1.25rem;

	font-size: var(--btn-font-size);
	padding: var(--btn-padding-y) var(--btn-padding-x);
	display: inline-flex;
	align-items: center;
	gap: 0.6rem;
}

.btn-icon svg {
	width: var(--btn-icon-size);
	height: var(--btn-icon-size);
}

.btn-label {
	white-space: nowrap;
}

.btn-row{
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    margin-bottom: auto;
}
